﻿@model IList<BizNet.Models.Post.PostViewModel>
@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="span3">
        <div class="well sidebar">
            <img src="../../Content/img/avatar.gif" />
            <ul class="nav nav-list">
                <li class="nav-header">&nbsp;</li>
                <li class="active"><a href="/Home"><i class="icon-white icon-home"></i>Stream</a></li>
                <li><a href="/Home/You"><i class="icon-user"></i>+You</a></li>
            </ul>
        </div>
        <!--/.well -->
    </div>
    <!--/span-->
    <div class="span9">
        <div class="hero">
            <h1>
                Stream!</h1>
            <form action="/Post/Create" method="post">
            @*Share status section*@
            <div class="comment well">
                <div id="comment-text" contenteditable="plaintext-only">
                    What's on your mind?</div>
                <div id="links" class="btn-toolbar">
                    <div class="btn-group">
                        <a href="#" class="btn"><i class="icon-file"></i></a>
                    </div>
                    <div class="btn-group">
                        <a class="btn dropdown-toggle" href="#" data-toggle="dropdown" id="btn-toggle-share">
                            <span id="btn-toggle-share-text"><i class="icon-user"></i>Public</span> <span class="caret">
                            </span></a>
                        <ul class="dropdown-menu" id="share-to">
                            <li><a href="#"><i class="icon-user"></i>&nbsp;Public</a></li>
                            <li><a href="#"><i class="icon-heart"></i>&nbsp;Friends Only</a></li>
                            <li class="divider"></li>
                            <li><a id="custom-share"><i class=" icon-eye-close"></i>&nbsp;Custom</a></li>
                        </ul>
                    </div>
                    <div class="btn-group pull-right">
                        <button id="btn-share" class="btn btn-primary btn-success">
                            Share</button>
                    </div>
                </div>
            </div>
            </form>
            @*User stream section*@
            <div id="unit-stream container-fluid">
                @*One post starts*@
                <div class="update row-fluid">
                    <div class="span1">
                        @*Post author avatar*@
                        <img src="../../Content/img/avatar.gif" width="48px" height="48px" />
                    </div>
                    <div class="span11">@*Post Content*@
                        <p>
                            KDE 4.8.2 on Arch Linux - Bash's Blog Here we are, a new KDE minor release has been
                            packaged! The upstream ChangeLog is here. The Arch Linux changes/fixes are: [kdebase-workspace]
                            menu …
                        </p>
                        <div id="update-links">
                            <a href="#">Comment </a>- <a href="#">Share</a>
                        </div>
                        <div class="update-comments">
                            @*Post Comments*@
                            <div class="update row-fluid">
                                <div class="span1">
                                    @*Commenter avatar*@
                                    <img src="../../Content/img/avatar.gif" width="48px" height="48px" />
                                </div>
                                <div class="span11">@* Commenter text*@
                                    <p>
                                        <a href="">Scott Hanselman</a> - When I was at UNT in the late 80s there was a bar
                                        called The Library. When I was at UNT in the late 80s there was a bar called The
                                        Library. When I was at UNT in the late 80s there was a bar called The Library.
                                    </p>
                                </div>
                            </div>
                            <div class="update row-fluid">
                                @*Add new comment section*@
                                <div id="update-comment" class="well" contenteditable="plaintext-only">
                                </div>
                                <button post="1" class="btn btn-small btn-success btn-comment">
                                    Post comment</button>
                                <button class="btn btn-small">
                                    Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
                @foreach (var p in Model)
                {
                    <div class="update row-fluid">
                        <div class="span1">
                            <img src="../../Content/img/avatar.gif" width="48px" height="48px" />
                        </div>
                        <div class="span11">
                            <p>
                                @p.post.text
                            </p>
                            <div id="update-links">
                                <a href="#" class="btn-comment" post="@p.post.id"   >Comment </a>- <a class="btn-share-post"
                                    href="#">Share</a>
                            </div>
                            <div class="update-comments">
                                @*Post Comments go here*@
                                @foreach (var c in p.comments)
                                {
                                    <div class="update row-fluid">
                                        <div class="span1">
                                            @*Commenter avatar*@
                                            <img src="../../Content/img/avatar.gif" width="48px" height="48px" />
                                        </div>
                                        <div class="span11">@* Commenter text*@
                                            <p>
                                                <a href="">Scott Hanselman</a> - When I was at UNT in the late 80s there was a bar
                                                called The Library. When I was at UNT in the late 80s there was a bar called The
                                                Library. When I was at UNT in the late 80s there was a bar called The Library.
                                            </p>
                                        </div>
                                    </div>
                                }
                                <div class="update row-fluid" id="comment-post-@p.post.id " style="display:none">
                                    @*Add new comment section*@
                                    <div id="update-comment" class="well" contenteditable="plaintext-only">
                                    </div>
                                    <button post="1" class="btn btn-small btn-success btn-comment">
                                        Post comment</button>
                                    <button class="btn btn-small">
                                        Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <!--/span-->
    </div>
    <!--Dialogs-->
    <!--Share with custom list dialog-->
    <div class="modal hide" id="dlgCustomShare">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>
                Share with</h3>
        </div>
        <div class="modal-body">
            <form class="well">
            <label>
                Type name or emails</label>
            <div class="well" contenteditable="true">
                Facebook style input box
            </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn">Close</a> <a href="#" class="btn btn-primary">Done</a>
        </div>
    </div>
    <!--Scripts-->
    <script type="text/javascript">
        $(function () {
            //share status
            $("#btn-share").click(function (e) {
                e.preventDefault();
                $.post("/Post/Create", { text: $('#comment-text').text() });
            });
            //comment click
            $(".btn-comment").click(function (e) {
                e.preventDefault();

                var postID = $(this).attr("post");
                $.post("/Post/Comment", { text: $('#update-comment').text(), to: postID });
            });

            //share to options click
            $("#share-to li a").click(function () {
                var item = $(this);
                if (item.attr("id") == "custom-share") {
                    $('#dlgCustomShare').modal('toggle');
                } else {

                }
                var text = item.html();
                $("#btn-toggle-share-text").html(text);
            });
            //btn share post with others click
            $(".btn-comment").click(function (e) {
                e.preventDefault();
                var postid = $(this).attr("post");
                $("#comment-post-" + postid).show();
            });


        });
    </script>
