﻿@{
    ViewBag.Title = "You";
}
<div class="row">
    <div class="span3">
        <div class="well sidebar">
            <img src="../../Content/img/avatar.gif" />
            <ul class="nav nav-list">
                <li class="nav-header">&nbsp;</li>
                <li><a href="/Home"><i class=" icon-home"></i>Stream</a></li>
                <li class="active"><a href="/Home/You"><i class="icon-white icon-user"></i>+You</a></li>
            </ul>
        </div>
        <!--/.well -->
    </div>
    <!--/span-->
    <div class="span9">
        <div class="tabbable">
            <ul id="you-tabs" class="nav nav-tabs">
                <li class="active"><a href="#1" data-toggle="tab">Posts</a></li>
                <li><a href="#2" data-toggle="tab">Messages</a></li>
                <li><a href="#3" data-toggle="tab">About</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="1">
                    <!--Posts container-->
                    <div id="unit-stream container-fluid">
                        <div class="update row-fluid">
                            <div class="span1">
                                <img src="../../Content/img/avatar-small.gif" width="48px" height="48px" />
                            </div>
                            <div class="span11">
                                <p>
                                    KDE 4.8.2 on Arch Linux - Bash's Blog Here we are, a new KDE minor release has been
                                    packaged! The upstream ChangeLog is here. The Arch Linux changes/fixes are: [kdebase-workspace]
                                    menu …
                                </p>
                                <div id="update-links">
                                    <a href="#">Comment </a>- <a href="#">Share</a>
                                </div>
                                <div class="update-comments">
                                    <div class="update row-fluid">
                                        <div class="span1">
                                            <img src="../../Content/img/avatar-small.gif" width="48px" height="48px" />
                                        </div>
                                        <div class="span11">
                                            <p>
                                                <a href="">Scott Hanselman</a> - When I was at UNT in the late 80s there was a bar
                                                called The Library. When I was at UNT in the late 80s there was a bar called The
                                                Library. When I was at UNT in the late 80s there was a bar called The Library.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="update row-fluid">
                                        <div id="update-comment" class="well" contenteditable="plaintext-only">
                                        </div>
                                        <button class="btn btn-small btn-success">
                                            Post comment</button>
                                        <button class="btn btn-small">
                                            Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="2">
                    <div class="row-fluid message-header">
                        <div class="span6">
                            &nbsp;
                        </div>
                        <div class="span6">
                            <a class="btn btn-success pull-right" data-toggle="modal" href="#dlgNewMessage"><i
                                class=" icon-plus icon-white"></i>New Message</a>
                        </div>
                    </div>
                    <div class="row-fluid inner-well">
                        <div class="span1">
                            <img src="../../Content/img/avatar-small.gif" width="48px" height="48px" />
                        </div>
                        <div class="span11">
                            <a href="#">Siddharaju Sampangi</a>
                            <p>
                                Some message</p>
                            <p>
                                Some message</p>
                            <p>
                                Some message</p>
                        </div>
                    </div>
                    <div class="inner-well">
                        Message 2
                    </div>
                    <div class="inner-well">
                        Message 3
                    </div>
                    <div class="inner-well">
                        Message 4
                    </div>
                </div>
                <div class="tab-pane" id="3">
                    <p>
                        Howdy, I'm in Section 3.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal hide fade" id="dlgNewMessage">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>
            Send a message</h3>
    </div>
    <div class="modal-body">
        <form class="well">
        <label>
            To</label>
        <input type="text" placeholder="Type a name or email…" />
        <label>
            Message</label>
        <div class="well" contenteditable="true">
            Some message here
        </div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn">Close</a> <a href="#" class="btn btn-primary">Send</a>
    </div>
</div>
