﻿.comment
{
}
.comment #comment-text
{
    min-height: 60px;
    padding: 5px;
}
.comment #links
{
    padding: 5px;
}
.inner-well
{
    background-color: #FCFCFC;
    margin: 0px 0 20px;
    padding: 19px;
    min-height: 20px;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.update
{
    padding-bottom: 17px;
    margin: 18px 0;
    border-bottom: 1px solid #EEE;
}
.message-header
{
    margin-bottom:10px;
}

