﻿@if(Request.IsAuthenticated) {
    <text>Welcome <strong>@User.Identity.Name  </strong>!
    [ @Html.ActionLink("Log Off", "LogOff", "Account") ]</text>
}
else {
    @:[ @Html.ActionLink("Log On", "LogOn", "Account") ]
}
